@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: 'Almarai', sans-serif;
   scroll-behavior: smooth;
}

#loading {
   position: fixed;
   width: 100vw;
   height: 100vh;
   display: -ms-grid;
   display: grid;
   place-content: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 21;
   cursor: wait;
}

.swiper-pagination-bullet {
   background-color: #ab5266 !important;
}

.homehero {
   height: calc(100vh - 130px);
   width: calc(100% - 2rem);
   overflow: hidden;
}

.homeslider img::selection {
   color: transparent;
   background: none;
}

/* For Mozilla Firefox */
.homeslider img::-moz-selection {
   color: transparent;
   background: none;
}

.homehero .swiper-button-next,
.homehero .swiper-button-prev {
   color: #ab5266;
}

.catigory_box div {
   transition: 0.5s;
   background-size: cover;
}

.catigory_box div:hover {
   scale: 1.1;
}

.caregories-slider {
   padding-bottom: 3rem !important;
}

.caregories-slider .prev,
.caregories-slider .next {
   width: 2.5rem;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: auto;
   aspect-ratio: 1/1;
   @apply hidden sm:flex shadow bg-gray-100 border border-gray-300 hover:bg-primary-100/25 transition text-primary-100
}

.hero {
   background-image: url("/images/bg.jpg");
   background-size: cover;
   background-position: center;
}

.hero .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 1023px) {
   aside.filter {
      display: flex !important;
   }

}


@media (max-width: 1023px) {
   aside.filter {
      /* display: none; */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
   }

   aside.filter>div {
      background-color: white;
      padding: 1rem;
      border-radius: 10px;
   }

   .filter_btn {
      display: flex;
   }
}

/* .square {
   aspect-ratio: 1/1;
}
@supports not (aspect-ratio: 1 / 1) {
} */
/* .square::before {
   float: left;
   padding-top: 100%;
   content: "";
}

.square::after {
   display: block;
   content: "";
   clear: both;
} */

.img-container {
   padding-top: 100%;
   position: relative;
   overflow: hidden;
}

.i_a_r_v {
   padding-top: 56.25%;
   position: relative;
   overflow: hidden;
}

.img-container img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
}

.i_a_r_v img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* width: 100%; */
   min-height: 100%;
   min-width: 100%;
}

/* /// */
/* .swiper {
   width: 100%;
   height: 100%;
} */

.p-s .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;

   max-height: 400px;
}

.p-s .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.p-s .swiper {
   width: 100%;
   height: 400px;
   margin-left: auto;
   margin-right: auto;
}

.p-s .swiper-slide {
   background-size: cover;
   background-position: center;
}

.p-s .mySwiper2 {
   /* height: 80%; */
   width: 100%;
}

.p-s .mySwiper {
   height: 100px;
   box-sizing: border-box;
   padding: 10px 0;
}

.p-s .mySwiper .swiper-wrapper {
   justify-content: center;
}

.p-s .mySwiper .swiper-slide {
   width: 25% !important;
   height: 100%;
   opacity: 0.4;
}

.p-s .mySwiper .swiper-slide-thumb-active {
   opacity: 1;
}

.p-s .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.reviews>div:not(:last-child) {
   border-bottom: 1px solid #ccc;
   padding-bottom: 1rem;
}

.active_cart_part {
   @apply bg-primary-100 text-primary-300
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0;
   /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
   -moz-appearance: textfield;
   /* Firefox */
}

.offer {
   position: absolute;
   top: -9px;
   left: -11px;
   z-index: 1;
   width: 5rem;
}

.offer .percing {
   position: absolute;
   top: 19px;
   font-weight: bold;
   left: 20px;
   border-radius: 0px 8px 0 0;
   color: white;
   transform: rotate(-45deg);
}

.price .range-slider__range {
   background-color: #e496a7 !important;
}

.price .range-slider__thumb[data-lower] {
   background-color: #ab5266 !important;
}

.price .range-slider__thumb[data-upper] {
   background-color: #ab5266;
}

.succsseAlert{
   position: absolute;
   width: 90%;
   z-index: 10;
   top: 2rem;
   left: 50%;
   transform: translate(-50%);
   display: flex;
   justify-content: space-between;
}

/* Shine */
.offer_label {
   z-index: 0;
   position: relative;
   overflow: hidden;
}

.offer_label:after {
   content: '';
   top: 0;
   transform: translateX(100%);
   width: 100%;
   height: 220px;
   position: absolute;
   z-index: 1;
   animation: slide 2s infinite 2s;

   /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
   background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
   /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
   /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
   /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
   /* Opera 11.10+ */
   background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
   /* IE10+ */
   background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
   /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
   /* IE6-9 */
}

/* animation */

@keyframes slide {
   0% {
      transform: translateX(-100%);
   }

   100% {
      transform: translateX(100%);
   }
}