@tailwind base;
@tailwind components;
@tailwind utilities;

#loading {
   position: fixed;
   width: 100vw;
   height: 100vh;
   display: -ms-grid;
   display: grid;
   place-content: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 21;
   cursor: wait;
}

.swiper-pagination-bullet {
   background-color: #ab5266 !important;
}

.homehero {
   height: calc(100vh - 130px);
   width: calc(100% - 2rem);
   overflow: hidden;
}

.homehero .swiper-button-next,
.homehero .swiper-button-prev {
   color: #ab5266;
}

.catigory_box div {
   transition: 0.5s;
   background-size: cover;
}

.catigory_box div:hover {
   scale: 1.1;
}

.caregories-slider {
   padding-bottom: 3rem !important;
}

.caregories-slider .prev,
.caregories-slider .next {
   width: 2.5rem;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: auto;
   aspect-ratio: 1/1;
   @apply hidden sm:flex shadow bg-gray-100 border border-gray-300 hover:bg-primary-100/25 transition text-primary-100
}

.hero {
   background-image: url("../public/images/bg.jpg");
   background-size: cover;
   background-position: center;
}

.hero .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 1023px) {
   aside.filter {
      display: flex !important;
   }

}


@media (max-width: 1023px) {
   aside.filter {
      /* display: none; */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
   }

   aside.filter>div {
      background-color: white;
      padding: 1rem;
      border-radius: 10px;
   }

   .filter_btn {
      display: flex;
   }
}

/* .square {
   aspect-ratio: 1/1;
}
@supports not (aspect-ratio: 1 / 1) {
} */
.square::before {
   float: left;
   padding-top: 100%;
   content: "";
}

.square::after {
   display: block;
   content: "";
   clear: both;
}
.img-container{
   padding-top: 100%;
   position: relative;
   overflow: hidden;
}
.img-container img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width:100%;
   max-height: 100%;
   max-width: 100%;
}